@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --black: #222222;
  --white: #ffffff;
  --red: #f45050;
  --red-light: rgba(244, 80, 80, 0.3);
  --green: #00af91;
  --dark-green: #0a4d68;
  --dark-green-light: rgba(10, 77, 104, 0.1);
  --grey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
